* {
  font-family: arial;
}

.page {
  margin: auto;
  width: 600px;
}

.lot {
  padding: 10px;
  background: #fda;
}

.lotName {
  font-weight: bold;
  font-size: 24px;
}

.lotDescription {
  font-size: 16px;
  padding: 20px;
}

.lotTags {
  text-decoration: underline;
}

.posts {
  padding-top: 20px;
  padding-left: 40px;
}

.emptyPosts {
  padding-top: 20px;
  padding-left: 40px;
  text-align: center;
  font-style: italic;
}

.singlePost {
  padding-top: 20px;
}

.post {
  padding: 10px;
  background: #eee;
  margin-bottom: 10px;
}

.postHeader {
  margin-bottom: 10px;
}

.postAuthor {
  font-weight: bold;
  font-size: 20px;
}

.postTime {
  color: #777;
  font-size: 16px;
}

.postMessage {
  font-size: 16px;
}

.authors {
  padding-top: 20px;
  padding-left: 40px;
}

.authors span {
  margin: 5px;
  padding: 5px;
  background: #fda;
}
