* {
  font-family: arial;
}

html,
body {
  background: #b9b7b1;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.page {
  margin: auto;
  width: 250px;
}

.card {
  background: #cccccc;
  padding: 10px;
  margin: 10px 0px;
}

.time {
  position: relative;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  padding: 10px 0px;
  text-align: center;
  font-size: 24px;
  background: #fff;
  color: #707070;
}

.blue {
  color: hsl(240, 100%, 30%);
}

.blueBack {
  background-color: hsl(240, 70%, 90%);
}

.red {
  color: hsl(0, 100%, 30%);
}

.redBack {
  background-color: hsl(0, 70%, 90%);
}

.green {
  color: hsl(120, 100%, 30%);
}

.greenBack {
  background-color: hsl(120, 70%, 90%);
}

.button {
  height: 34px;
  border-radius: 2px 2px 2px 2px;
  padding: 0 15px;
  border: solid 2px;
}

.button:hover {
  cursor: pointer;
}

.block {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}
