* {
  font-family: arial;
}

.root {
  margin: auto;
  width: 400px;
}

.form {
  padding: 10px;
  background: #fda;
  text-align: center;
}

input[type="text"] {
  padding: 5px;
  margin: 10px 15px;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  width: 200px;
  font-size: 20px;
}

input[type="text"]:focus {
  border: 1px solid #555;
  color: #000000;
}

span {
  font-size: 20px;
}
