.container {
  position: relative;

  display: inline-block;
  width: 34px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;

  transition: border .2s ease-in;
  transition-delay: .05s;

  border-radius: 10px;
  background: white;

  cursor: pointer;

  margin: 15px 15px;
}

.container:after {
  content: ' ';
  display: inline-block;
}

.background {
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  height: 100%; 
  background: #3072c4;
  transition: right 0.2s ease-in;
}

.isChecked {
  border: 1px solid #3072c4;
}

.handle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;

  width: 18px;
  margin-left:  0;

  transition: width 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.isChecked .handle {
  width: 32px;
}

.bg {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 9px;
  left: 0;
  transition: left 0.2s ease-in;
  transition-delay: 0.05s;
}

.isChecked .bg {
  left: -1px;
}

.bg:after {
  content: ' ';
  position: absolute;
  right: 10px;
  top: 0px;
  width: 23px;
  border-radius: 9 0 0 9;
  height: 18px; 
  background: #3072c4;
}

.hinge {
  display: inline-block;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 9px;
  width: 18px;
  background-image: linear-gradient(-180deg, #FFFFFF, #EBEBEB);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .15);
}
